<div class="container-fluid mt-2">
    <!-- Include the shared filter form -->
    {% include 'research_dashboard/partials/_baseline_filters.html' %}

    <!-- Chart Container -->
    {% if error %}
        <div class="alert alert-danger"><h4>Error</h4><p>{{ error }}</p></div>
    {% elif no_data %}
        <div class="alert alert-warning">No facilities match the selected filters.</div>
    {% else %}
        <!-- Chart Row 1 -->
         <div class="card mb-4">
         <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="chart-container">
                        {{ chart_total_annual_visits|safe }}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="chart-container">
                        {{ chart_abs_visits_by_county|safe }}
                    </div>
                </div>
        <!-- <div class="card mb-4">
            <div class="card-body">
                 {{ chart_total_annual_visits|safe }}
            </div>
            <div class="card-body">
                 {{ chart_abs_visits_by_county|safe }} -->
            </div>
        </div>
        </div>
        <!-- Chart Row 2: Stratified Charts -->
        <div class="card mb-4">
            <div class="card-header">
                <h5>Stratified Analysis of Average Monthly Visits (per Facility)</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 mb-3">
                        {{ chart_avg_visits_by_county|safe }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 mb-3">
                        {{ chart_avg_visits_by_level|safe }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        {{ chart_avg_visits_by_ownership|safe }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 mb-3">
                        {{ chart_monthly_trend|safe }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>