<ul class="nav nav-tabs card-header-tabs" id="project-nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if current_view == 'overview' %}active{% endif %}"
           href="{% url 'project_overview' project_id=project.id %}">
            <i class="mdi mdi-information-outline"></i> Project Overview
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link project-nav-link {% if current_view == 'timeline' %}active{% endif %}"
           href="{% url 'project_timeline' project_id=project.id %}"
           data-view="timeline">
            <i class="mdi mdi-chart-timeline"></i> Timeline
        </a>
    </li>
    <!-- New tabs added below -->
    <li class="nav-item">
        <a class="nav-link project-nav-link {% if current_view == 'service_delivery' %}active{% endif %}"
           href="{% url 'project_service_delivery' project_id=project.id %}"
           data-view="service_delivery">
            <i class="mdi mdi-heart-pulse"></i> Service delivery
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link project-nav-link {% if current_view == 'essential_medicines' %}active{% endif %}"
           href="{% url 'project_essential_medicines' project_id=project.id %}"
           data-view="essential_medicines">
            <i class="mdi mdi-stethoscope"></i> Access To Essential Medicines
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link project-nav-link {% if current_view == 'health_workforce' %}active{% endif %}"
           href="{% url 'project_health_workforce' project_id=project.id %}"
           data-view="health_workforce">
            <i class="mdi mdi-connection"></i> Health Workforce
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link project-nav-link {% if current_view == 'health_info_systems' %}active{% endif %}"
           href="{% url 'project_health_info_systems' project_id=project.id %}"
           data-view="health_info_systems">
            <i class="mdi mdi-package-variant"></i> Health Information Systems
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link project-nav-link {% if current_view == 'health_financing' %}active{% endif %}"
           href="{% url 'project_health_financing' project_id=project.id %}"
           data-view="health_financing">
            <i class="mdi mdi-account-arrow-right"></i> Health System Financing
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link project-nav-link {% if current_view == 'leadership_governance' %}active{% endif %}"
           href="{% url 'project_leadership_governance' project_id=project.id %}"
           data-view="leadership_governance">
            <i class="mdi mdi-account-tie"></i> Leadership & Governance
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link project-nav-link {% if current_view == 'data_quality' %}active{% endif %}"
           href="{% url 'project_data_quality' project_id=project.id %}"
           data-view="data_quality">
            <i class="mdi mdi-database-check"></i> Data Quality
        </a>
    </li>
</ul>
